/* 
Pallet Color:
Primary: #007700 - White Text
Light: #49a738 - Black text
Dark: #004a00 - White Test
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*{
    margin: 0px;
    padding: 0px;
    background-color: #007700;
    font-family: 'Source Sans Pro', sans-serif;
}

#ingreso {
    
}

header {
    background-color: #49a738; 
    color: white;
    text-align: center;
    padding: 5vw;
}

.contenedor {
    display: flex;
    flex-direction: column;
}


  
  .column {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 50%;
    height: 100%;
  }

.align-conts{
    justify-content: center ;
}

.content-center {
    justify-content: center;
    align-items: center;
}
.content-end{
    justify-content: end;
}



.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
  }

.input {
    width: 85vw;
    height: 5vh;
    border: solid;
    border-color: #004a00;
    margin: 5vh;
    color: white;
    font-size: 3vh;
    text-align: center;
    /* font-size: 3vh; */
}

.input::placeholder {
    color: white;
    font-size: 3vh;
    text-align: center;
}

.btn {
    border: solid;
    border-color: #004a00;
    margin: 5vh;
    color: white;
    font-size: 3vh;
    text-align: center;
}
.btn-select {
    border: solid;
    border-color: gold;
    margin: 5vh;
    color: white;
    font-size: 3vh;
    text-align: center;
}

.btn-a {
    justify-content: center;
    height: 5vh;
    width: 20vw;
    float: left;
}
.btn-ops {
    justify-content: center;
    height: 5vh;
    width: 10vw;
    float: left;
}

.btn-cont {
    height: 5vh;
    width: 85vw;
}

.img-fosforos {
    height: 10vh;
    width: 20vw;
    margin: 1vh;
}


/* IMPORTANTE */
.visible{
    display: block;
    visibility: visible;
}

.oculto {
    display: none;
    visibility: hidden;
}